 .contenedor-form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    background-color: #eee;
}

input {
    width: 80%;
    padding: 5px;
}

.btn-guardar {
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-guardar:disabled {
    background-color: grey;
    cursor: default;
}

.btn-cancelar {
    background-color: red;
    color: white;
    padding: 10px;
    cursor: pointer;
}